@using  LuckDraw.Models
@model PlayViweModel
@{
    ViewData["Title"] = "Repeat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Drawname</h2>
<hr />

<div>
    <div class="row" style="margin-top:20px;">
        <div class="col-md-12 text-center" style="min-height:200px;">
            <select id="select">
                <option value="1">1</option>
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <input type="button" class="btn btn-danger" onclick="smoke()" value="抽取幸运观众" style="margin-top:80px;" />
            <input type="button" class="btn btn-danger" onclick="Empty()" value="清空" style="margin-top:80px;" />
        </div>
        <div class="col-md-12" style="display:none;">
            <div class="luckdraw">
                <div class="luck-option">

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h3>抽奖项</h3>
            <div id="content-body">

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            getdata();
        });

        function getdata() {
            var win = layer.load();
            $.post('/play/GetOptions', { Drawid:@Model.Drawid}, (res) => {
                layer.close(win);
                var content = '', divhtml = '';
                for (item of res) {
                    //divhtml += `<div>${item.Name}</div>`;
                    content += `<button type="button" style="margin-top:10px;margin-right:10px;"
class="btn btn-success">${item.name}（${item.cishu}）</button>`;
                };
                $('#content-body').html(content);
                //$('.luck-option').html(divhtml);
            });
        };

        function smoke() {
            //获取下拉框的值
            var St = $('#select option:selected').val();
            $.post('/play/One', { Drawid:@Model.Drawid, Second: St}, (res) => {
                if (res == "0") {
                    layer.alert(`抽奖项目为空`);
                } else {
                    layer.alert(`本次抽取到的人是：${res}`);
                    getdata();
                };
            });
        };

        function Empty()
        {
            $.post('/play/Empty', { Drawid:@Model.Drawid}, function (res) {
                layer.alert(res);
                getdata();
            })
        }
    </script>
}