@using LuckDraw.Models
@model PlayViweModel
@{
    ViewData["Title"] = "Repeat";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Drawname</h2>
<hr />

<div class="row" style="margin-top:20px;">
    <form class="col-md-12 text-center form-inline" id="submit">
        <div class="form-group mx-sm-3 mb-2">
            @*<div class="input-group-prepend">
                    <div class="input-group-text">抽奖次数</div>
                </div>*@
            <label class="my-1 mr-2">抽奖次数</label>
            <input type="number" id="inpVal" required class="form-control" style="max-width:80px;" min="1" max="100" value="1" />
        </div>
        <input type="submit" class="btn btn-danger mb-2" value="抽取幸运观众" />
        <input type="button" class="btn btn-danger mb-2" onclick="empty()" value="清空" style="margin-left: 10px;" />
    </form>
    <hr />
    <div class="col-md-12" style="display:none;">
        <div class="luckdraw">
            <div class="luck-option">

            </div>
        </div>
    </div>
    <div class="col-md-12">
        <h3>抽奖项</h3>
        <div id="content-body">

        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            getdata();
        });

        function getdata() {
            var win = layer.load();
            $.post('/play/GetOptions', { Drawid:@Model.Drawid}, (res) => {
                layer.close(win);
                var content = '', divhtml = '';
                for (item of res) {
                    //divhtml += `<div>${item.Name}</div>`;
                    content += `<button type="button" style="margin-top:10px;margin-right:10px;"
class="btn btn-success">${item.name}（${item.cishu}）</button>`;
                };
                $('#content-body').html(content);
                //$('.luck-option').html(divhtml);
            });
        };

        $("#submit").submit(function () {
            //获取下拉框的值
            var St = $('#inpVal').val();
            $.post('/Play/One', { Drawid: @Model.Drawid, Second: St }, (res) => {
                if (res == "0") {
                    layer.alert(`当前没有抽奖项`);
                } else {                    
                    layer.alert(`本次抽取到的人是：${res}`);
                    getdata();
                };
            });
            return false;
        })

        function empty()
        {
            $.post('/Play/Empty', { Drawid: @Model.Drawid }, function (res) {
                layer.alert(res);
                getdata();
            });
        };
    </script>
}