@model List<LuckDraw.Models.LuckDraw>
@{
    ViewData["Title"] = "NonLucky";
    Layout = "~/Views/Shared/_Layout.cshtml";
} 
   <fieldset class="layui-elem-field layui-field-title">
    <legend>基础效果</legend>
</fieldset>
@*<h2>@Model.FirstOrDefault().Draw.Name</h2>*@
<hr />
<div>
    <h3>待抽奖项</h3>
    <div>
        @foreach (var item in Model)
        {
            <button class="Choujian btn">@item.LuckID</button>
        }
    </div>
    <a href="/Play/NonLucky" class="Chou btn">抽取幸运观众</a>
    <div>
        @foreach (var item in Model)
        {
            if (item.EntryTime != null)
            {
                <button class="Choujian btn new">@item.LuckID</button>
            }
        }
    </div>
</div>
<div>

</div>

@section scripts{

    @*<script src="~/Scripts/jquery-3.5.1.min.js"></script>*@
    <script>

        $(".Chou").click(function () {
            $.get("/Play/NonLucky", {}, function (Msg) {
                alert(Msg);
                window.location.reload()  //刷新页面
            })
        })

    </script>
}
