@model LuckDraw.Models.Draw
@{
    ViewData["Title"] = "Two";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Name</h2>
<hr />
<div class="row text-center">
    <div class="col">
        <h4>待抽奖项</h4>
        <div id="div1"></div>
    </div>
    <div class="col">
        <button type="button" class="btn btn-info" style="margin: 5px;" id="chou">抽取幸运观众</button>
    </div>
    <div class="col">
        <h4>已抽奖项</h4>
        <div id="div2"></div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            getdata();
        });

        function getdata() {
            var win = layer.load();

            $.post("/Play/Updata", { ID: @Model.ID }, function (res) {
                layer.close(win);
                var content1 = "", content2 = "";
                for (item of res) {
                    //判断时间是否为空
                    //debugger
                    if (item.time == null) {
                        content1 += `<div class="btn btn-success" style="margin: 5px;" onclick="ID(${item.id})">${item.name}</div>`;
                        //待抽奖项
                    } else {
                        content2 += `<div class="btn btn-sm btn-warning" style="margin: 5px;" onclick="ID(${item.id})">${item.name}<br />${item.time}</div>`;
                        //抽到奖项
                    };
                };
                $('#div1').html(content1);//待抽奖项
                $('#div2').html(content2);//抽到奖项
            });
        };
        // choujiang
        $("#chou").click(function () {
            var win = layer.load();
            $.post("/Play/NonLucky", { ID: @Model.ID }, function (res) {
                layer.close(win);
                layer.alert(res);
                getdata();//刷新数据
            });
        });
        //移除
        function ID(id) {
            var data = {
                ID: id,
            };
            $.get("/Play/TwoEide", data, function (res) {
                if (res = "success") {
                    layer.alert("操作成功");
                    getdata();//刷新数据
                } else {
                    layer.alert(res);
                }
            });
        };
    </script>
}