
@{
    ViewData["Title"] = "Two";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Two</h1>
@section scripts{
    <script>
        $(document).ready(function () {
        getdata();
        });

        function getdata() {
            var win = layer.load();

            $.post("/play/Updata", {}, function (res) {
                layer.close(win);
                for (item of res) {
                    if (item.Time == null) {
                        console.log(item.id + item.name + item.time);
                    } else {
                        console.log("time不为空");
                    }
                }
            })
        }


    </script>

    }