@using LuckDraw.Models
@model List<DrawViewModle>
@{
    ViewData["Title"] = "抽奖项目";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>抽奖项目</h2>
<hr />
<button class="btn btn-info" onclick="{ $('#submit').slideToggle(250); }">添加抽奖项目</button>
<hr />
<form id="submit">
    <div class="form-group">
        <label>名称</label>
        <input type="text" class="form-control" id="Name">
    </div>
    <div class="form-group">
        <label>类型:</label>
        <input type="text" class="form-control" id="Option">
    </div>
    <div class="btn-group">
        <button type="submit" onclick="add()" class="btn btn-primary">添加项目</button>
        <button type="button" onclick="{ $('#submit').slideToggle(250); }" class="btn btn-secondary">取消</button>
    </div>
    <hr />
</form>
<div class="col-md-12">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">@item.DrawName <span class="glyphicon glyphicon-remove" style="float: right;" onclick="del(141)"></span></div>
                    <div class="panel-body">
                        <p class="bg-success" style="padding:8px 15px;border-radius:5px;">@item.OptionName</p>
                        <span>项目包含总奖项数量：@item.LuckCount</span>
                        <hr />
                        @if (item.OptionID == 2)
                        {
                            <a href="/play/repeat?LuckdrawDrawID=@item.LuckdrawDrawID" class="btn btn-primary">开始抽奖</a>
                            <a href="/setoptions/@item.LuckdrawDrawID" class="btn btn-success">奖项配置</a>
                        }
                        else
                        {
                            <a href="/play/Two?LuckdrawDrawID=@item.LuckdrawDrawID" class="btn btn-primary">开始抽奖</a>
                            <a href="setoptions/@item.LuckdrawDrawID" class="btn btn-success">奖项配置</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#submit').slideToggle(250);
        });

        function add() {
            var paras = {
                LuckType: $('#LuckType').val(),
                Name: $('#Name').val()
            }
            debugger
            var win = layer.load();
            $.post('/Draw/add', paras, (res) => {
                if (res > 0) {
                    layer.msg("添加成功");

                } else {
                    layer.msg("添加出错");
                }
                setTimeout(function () {
                    layer.closeAll('loading');
                }, 350);
            })
        }

        function del(id) {
            var paras = {
                id: id
            }
            layer.confirm('确认删除此项目吗？', {
                btn: ['确定', '取消']
            }, function () {
                var win = layer.load();
                $.post('/luck/del', paras, (res) => {
                    layer.close(win);
                    if (res.succ)
                        window.location.reload();
                    else
                        layer.msg(res.msg);
                })
            }, function () {

            });
        }
    </script>
}