@using LuckDraw.Models
@model List<DrawViewModle>
@{
    ViewData["Title"] = "抽奖项目";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>抽抽奖</h2>
<hr />
<div class="row" style="margin-top:20px;">
    <div class="col-md-4">
        <form action="/luck/index" method="post">
            <input name="__RequestVerificationToken" type="hidden" value="" />
            <div class="form-horizontal">
                <h4 onclick="{ $('#add-form').slideToggle(250); }" style="cursor:pointer;color:rgb(71, 71, 183);">点击这里添加抽奖项目</h4>
                <hr />
                <div id="add-form" style="display:none;">
                    <div class="form-group">
                        <label>名称</label>
                        <div class="col-md-10">
                            <input class="form-control text-box single-line" data-val="true" id="Name" name="Name" type="text" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label>类型</label>
                        <div class="col-md-10">
                            <select class="form-control" id="LuckType" name="LuckType">
                                <option value="1">重复利用奖项抽取</option>
                                <option value="2">每次抽取完成后排除奖项</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="添加项目" onclick="add()" class="btn btn-default" />
                            <input type="button" value="取消" onclick="{ $('#add-form').slideToggle(250); }" class="btn btn-default" />
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="col-md-12">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">@item.DrawName <span class="glyphicon glyphicon-remove" style="float: right;" onclick="del(141)"></span></div>
                    <div class="panel-body">
                        <p class="bg-success" style="padding:8px 15px;border-radius:5px;">@item.OptionName</p>
                        <span>项目包含总奖项数量：@item.LuckCount</span>
                        <hr />
                        @if (item.OptionID == 1)
                        {
                            <a href="/play/repeat/@item.LuckdrawDrawID" class="btn btn-primary">开始抽奖</a>
                            <a href="setoptions/@item.LuckdrawDrawID" class="btn btn-success">奖项配置</a>
                        }
                        else
                        {
                            <a href="/play/repeat/@item.LuckdrawDrawID" class="btn btn-primary">开始抽奖</a>
                            <a href="setoptions/@item.LuckdrawDrawID" class="btn btn-success">奖项配置</a>
                        }

                    </div>
                </div>
            </div>
        }





    </div>
</div>









@section scripts{

    <script>
        $(document).ready(function () {
           
        });

        function add() {
            var paras = {
                LuckType: $('#LuckType').val(),
                Name: $('#Name').val()
            }
            debugger
            var win = layer.load();
            $.post('/Draw/add', paras, (res) => {
                if (res > 0) {
                    layer.msg("添加成功");

                } else {
                    layer.msg("添加出错");
                }
                setTimeout(function () {
                    layer.closeAll('loading');
                }, 350);
            })
        }

        function del(id) {
            var paras = {
                id: id
            }
            layer.confirm('确认删除此项目吗？', {
                btn: ['确定', '取消']
            }, function () {
                var win = layer.load();
                $.post('/luck/del', paras, (res) => {
                    layer.close(win);
                    if (res.succ)
                        window.location.reload();
                    else
                        layer.msg(res.msg);
                })
            }, function () {

            });
        }

       
    </script>
}