@using LuckDraw.Models
@model List<Luck>
@{
    ViewData["Title"] = "Set Draw";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section styles{
    <style>
        .luck-ops {
            margin: 5px 5px 0 0;
            padding: 4px 15px;
            border-radius: 5px;
            border: 3px #ccc solid;
            display: inline-block;
            cursor: pointer;
            background-color: white;
            transition: all .3s;
            cursor: pointer;
        }

        .luck-selcted {
            background-color: #FFC6C4;
        }

        .ops-group {
            padding: 6px 15px;
            border-radius: 5px;
            color: black;
            border: 3px solid #ccc;
        }
    </style>
}
<h3>设置项目奖项</h3>
<hr />
<div class="col-md-12">
    <input type="button" class="btn btn-primary" value="保存设置" onclick="save()" />
    <a href="/Draw/Index" class="btn btn-default">返回</a>
</div>
<hr />
@if (Model != null)
{
    <div class="row" style="margin-top:20px;">
        @foreach (var item in Model.Where(a => a.ParentID == 0))//一级=>抽奖组名字
        {
            <div class="col-md-12">
                <p class="ops-group group_p_915 luck-selcted" data-childcount="3" data-id="915" onclick="push(this,915,true)" title="156" style="border-color: #000000;">
                    @item.Name
                </p>
                @foreach (var b in Model.Where(b => b.ParentID == item.ID))//一级=>抽奖项名字
                {
                    <div class="col-md-12">
                        <div data-id="1021" onclick="push(this,@b.ID)" class="luck-ops group_ops_915 luck-selcted" style="border-color: #000000;">
                            @b.Name
                        </div>
                    </div>
                }
            </div>
        }
    </div>
}
@section scripts{
    <script>
        function save() {
            $.post('/Luck/Save', {}, function (res) {

            })
        }
    </script>
}