@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*@model LuckDraw.Models.Sign*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "主页";
}
<h3>欢迎使用抽奖</h3>
<div class="card">
    <div class="card-body">
        <p>这是一个抽奖平台，你可以自定义你的抽奖项目进行抽奖</p>
        <p>当前登录账户：<span id="user" class="text-primary"></span></p>
        <p>你的项目数量：<span id="drawCount" class="text-danger">null</span></p>
        <p>你的奖项数量：<span  id="luckCount" class="text-danger">null</span></p>
    </div>
</div>
<br />
<h3>使用说明</h3>
<div class="card">
    <div class="card-body">
        <p>没什么好说的</p>
    </div>
</div>
<br />
<h3>关于</h3>
<div class="card">
    <div class="card-body">
        <p>没什么好说的</p>
    </div>
</div>
@section scripts{

    <script>
        $(document).ready(function () {
            getdata();
        });

        function getdata() {
            $.post('/home/UserView', {}, function (res) {
                if (res != null) {
                    $('#user').html(res.username);
                    $('#drawCount').html(res.draw);
                    $('#luckCount').html(res.luck);
                } else {
                    layui.msg("数据为空");
                }
            })
        }
    </script>


}