@model LuckDraw.Models.Sign
<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            margin: 20px;
        }

        .demo-carousel {
            height: 200px;
            line-height: 200px;
            text-align: center;
        }

        .inp-box {
            margin: 10px 0;
        }
    </style>
</head>
<body>
    <form id="submit">
        <input type="hidden" id="ID" value="@Model.ID">
        <div class="input-group inp-box">
            <div class="input-group-prepend">
                <span class="input-group-text">账号</span>
            </div>
            <input type="text" required class="form-control" id="Account" value="@Model.Account">
        </div>
        <div class="input-group inp-box">
            <div class="input-group-prepend">
                <span class="input-group-text">密码</span>
            </div>
            <input type="password" required class="form-control" id="Password" placeholder="请输入密码">
        </div>
        <div class="input-group inp-box">
            <div class="input-group-prepend">
                <span class="input-group-text">邮箱</span>
            </div>
            <input type="email" required class="form-control" id="Email" value="@Model.Email">
        </div>
        <div class="input-group inp-box">
            <div class="input-group-prepend">
                <span class="input-group-text">权限</span>
            </div>
            <select class="form-control" id="Identity">
                <option value="0">用户</option>
                <option value="1">管理员</option>
            </select>
        </div>
        <div style="margin-top:10px;">
            <button class="btn btn-primary btn-block" type="submit">修改</button>
            <button class="btn btn-secondary btn-block" type="button" id="btnClose">取消</button>
        </div>
    </form>
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>
    <script src="~/Content/layui/layui.all.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <script src="~/Scripts/mouse-click.js"></script>
    <script>
        $("#submit").submit(function () {
            layer.load(2, { shade: false });
            var data = {
                ID: $("#ID").val(),
                Account: $("#Account").val(),
                Password: $("#Password").val(),
                Email: $("#Email").val(),
                Identity: $("#Identity").val()
            };
            $.post("/User/AddUser", data, function (res) {
                setTimeout(function () {
                    layer.closeAll('loading');
                }, 350);
                layer.alert(res.message);
                if (res.status) {
                    setTimeout(function () {
                        window.parent.closeFrame();
                    }, 1500);
                }
            });
            return false;
        });

        $("#btnClose").click(function () {
            window.parent.closeFrame();
        });
    </script>
</body>
</html>