@model List<LuckDraw.Models.Luck>
@{
    ViewData["Title"] = "奖项设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>奖项设置</h2>
@foreach (var x in Model)
{
    if (x.ParentID == 0)
    {
        <div class="card">
            <div class="card-header">抽奖组:@x.Name</div>
            <div class="card-body">
                @foreach (var i in Model)
                {
                    if (i.ParentID == x.ID)
                    {
                        <button class="btn btn-primary" style="margin:5px;">@i.Name</button>
                    }
                }
            </div>
            <div class="card-footer">底部</div>
        </div>
    }
}
@section scripts{
    <script>

    </script>
}